.start-button {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.start-button:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
}